@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Sacramento&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0f172a;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  background: #131830;
}

::-webkit-scrollbar-thumb {
  opacity: 0.5;
  background: rgb(30, 41, 59);
  border-radius: 1ex;
  -webkit-border-radius: 1ex;
}

.cell-grid {
  --grid-size: 3;
  --cell-size: 18vmin;
  --cell-gap: 1vmin;
  display: grid;
  grid-template-columns: repeat(var(--grid-size), var(--cell-size));
  grid-template-rows: repeat(var(--grid-size), var(--cell-size));
  gap: var(--cell-gap);
  padding: var(--cell-gap);
  position: relative;
  z-index: 10;
}

@media (min-width: 950px) {
  .cell-grid {
    --cell-size: 22vmin;
    grid-template-columns: repeat(var(--grid-size), var(--cell-size));
    grid-template-rows: repeat(var(--grid-size), var(--cell-size));
  }
}

@media (min-width: 750px) {
  .cell-grid {
    --cell-size: 24vmin;
    grid-template-columns: repeat(var(--grid-size), var(--cell-size));
    grid-template-rows: repeat(var(--grid-size), var(--cell-size));
  }
}

.cell {
  background-color: transparent;
  border-radius: 0.5rem;
}

.tile {
  --x: 2;
  --y: 2;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: transparent;
  top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  transition: 100ms ease-in-out;
  background-color: #d2deee;
  border-radius: 0.5rem;
  z-index: 1;
}

#tile1 {
  --x: 0;
  --y: 0;
}
#tile2 {
  --x: 1;
  --y: 0;
}
#tile3 {
  --x: 2;
  --y: 0;
}
#tile4 {
  --x: 0;
  --y: 1;
}
#tile5 {
  --x: 1;
  --y: 1;
}
#tile6 {
  --x: 2;
  --y: 1;
}
#tile7 {
  --x: 0;
  --y: 2;
}
#tile8 {
  --x: 1;
  --y: 2;
}

#tile9 {
  --x: 2;
  --y: 2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cursive {
  font-family: 'Sacramento', cursive;
  background: black;
  color: rgb(209, 254, 197);
  text-shadow: 1px 1px 10px rgb(24, 245, 50), 1px 1px 10px rgb(32, 243, 57);
  font-size: 48px;
  text-align: center;
}

.self {
  font-family: 'Sacramento', cursive;
  background: black;
  color: rgb(209, 254, 197);
  text-shadow: 1px 1px 10px rgb(24, 245, 50), 1px 1px 10px rgb(32, 243, 57);
  text-align: center;
}

.boxes {
  opacity: 0.03;
  background-image: linear-gradient(
      #f1f5f9 1px,
      transparent 1px
    ),
    linear-gradient(
      to right,
      #f1f5f9 1px,
      #0f172a 1px
    );
  background-size: 46px 46px;
}

.flip{
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1) rotate(-90deg);
}

.drop-container{
  right: -1.85%;
  bottom: 1%;
}

.toggle-buttons {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: transparent;
  z-index: 1;
  filter: url("#goo");
  text-align: center;
  line-height: 10px;
  color: white;
}

.toggle-btn {
  width: 5px;
  height: 5px;
  background-color: transparent;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 100%;
  filter: blur(0px);
}

.drop {
  width: 15px;
  height: 15px;
  background-color: #ec4899;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-135deg);
  position: absolute;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  animation: drop 10s ease-in infinite;
  animation-delay: 10s; 
  filter: blur(0.5px);
}


@keyframes drop {
  90% {
    transform: translate(-50%, 100%) rotate(-135deg);
    border-bottom-right-radius: 0%;
  }
  100% {
    transform: translate(-50%, 27vh) rotate(-135deg);
    border-bottom-right-radius: 100%;
  }
}

.wave-container{
  padding-top: 23vh;
}

.wave {
  position: relative;
  margin: 175px auto;
  opacity: 0;
  top: 0;
    width: 2px;
    height: 1px;
  border: #ec4899 7px solid;
    -moz-border-radius: 300px / 150px;
    -webkit-border-radius: 300px / 150px;
    border-radius: 300px / 150px;
  -moz-animation-name: ripple;
  -webkit-animation-name: ripple;
  animation-name: ripple;
  -moz-animation-delay: 15000;
  -webkit-animation-delay: 13s;
  animation-delay: 13s;
  -moz-animation-duration: 10s;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  z-index: 10;
}

.wave-container2{
  padding-top: 23vh;
}

.wave2 {
  position: relative;
  margin: 175px auto;
  opacity: 0;
  top: 0;
  width: 2px;
  height: 1px;
  border: #ec4899 7px solid;
  -moz-border-radius: 300px / 150px;
  -webkit-border-radius: 300px / 150px;
  border-radius: 300px / 150px;
  -moz-animation-name: ripple2;
  -webkit-animation-name: ripple2;
  animation-name: ripple2;
  -moz-animation-delay: 15000;
  -webkit-animation-delay: 13.85s;
  animation-delay: 13.85s;
  -moz-animation-duration: 10s;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.splash-container{
  padding-top: 22vh;
}

.splash{
  position: relative;
  margin: 175px auto;
  opacity: 0;
  top: 0;
  width: 8px;
  height: 8px;
  -moz-animation-name: splash;
  -webkit-animation-name: splash;
  animation-name: splash;
  -moz-animation-delay: 0;
  -webkit-animation-delay: 11s;
  animation-delay: 11s;
  -moz-animation-duration: 10s;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}


@keyframes ripple {
  0%, 69%{
    opacity: 0;
    top: 0;
    width: 2px;
    height: 1px;
    border: #ec4899 7px solid;
    -moz-border-radius: 300px / 150px;
    -webkit-border-radius: 300px / 150px;
    border-radius: 300px / 150px;
  }
    70% {
      opacity: 1;
    }
    100% {
      border: #f1f5f9 5px solid;
      width: 600px;
      height: 300px;
      border-width: 1px;
      top: -100px;
      opacity: 0;
    }
}

@keyframes ripple2 {
  0%, 69%{
    opacity: 0;
    top: 0;
    width: 2px;
    height: 1px;
    border: #ec4899 7px solid;
    -moz-border-radius: 300px / 150px;
    -webkit-border-radius: 300px / 150px;
    border-radius: 300px / 150px;
  }
    70% {
      opacity: 1;
    }
    100% {
      border: #f1f5f9 5px solid;
      width: 400px;
      height: 200px;
      border-width: 1px;
      top: -60px;
      opacity: 0;
    }
}

@keyframes splash {
  0%,91%{
    top:0px;
    opacity:0
  }
  92%{
    top:0px;
    opacity:0
  }
  96% {
      top: -15px;
      opacity:1;
    }
  98%{
    opacity: 1;
  }
  100% {
      top: 18px;
      opacity:0;
    }
}

@media only screen and (max-width: 700px) {
  .toggle-buttons  {
    width: 50%;
    height: 50%;
  }
  .drop{
    width: 10px;
    height: 10px;
    left: 175%;
    top: 140%;
  }
  .wave-container, .wave-container2{
    padding-top: 19vh;
  }
  .splash-container{
    padding-top: 18vh;
  }
}


